.footer {
    margin-top: 20px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pics img{
    width: 100px;
    height: 100px;
    padding: 30px;
    


}

.rights {
    flex-grow: 1;
    color: white;
    font-size: 20px;
}