
.jumbotron {
    margin-bottom: 4em;
}


.person-wrapper {
    margin-bottom: 2em;
}

.profile-pic {
    width:50%;
}

.btn-primary {
    background-image: none;
    border:none;
    border-radius: 0;
    background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h2 {
    margin-bottom: 1em;
}